
.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/textProcessing-checkpoint.ipynb
.ipynb_checkpoints/stemming_sastrawi-checkpoint.ipynb
.ipynb_checkpoints/PreprocessingEksprasis-checkpoint.ipynb
.ipynb_checkpoints/Preprocessing_spacy-checkpoint.ipynb
.ipynb_checkpoints/Preprocessing_nltk-checkpoint.ipynb
.ipynb_checkpoints/basicLibTextPreprocessing-checkpoint.ipynb
.ipynb_checkpoints/06-stemming_sastrawi-checkpoint.ipynb
.ipynb_checkpoints/05-PreprocessingEksprasis-checkpoint.ipynb
.ipynb_checkpoints/04-Preprocessing_spacy-checkpoint.ipynb
.ipynb_checkpoints/03-Preprocessing_nltk-checkpoint.ipynb
.ipynb_checkpoints/02-textProcessing-checkpoint.ipynb
.ipynb_checkpoints/01-basicLibTextPreprocessing-checkpoint.ipynb
